.experienceBar {
    display: flex;
    align-items: center;
}

.experienceBar span {
    font-size: 1rem;
}

.experienceBar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div{
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--green);
    position: relative;
}

.experienceBar > div span.currentExperience{
    top: 12px;
    position: absolute;
    transform: translateX(-50%);
}

